{% extends 'master.html' %}
{% block contenido %}
    <style>
        /* Estilos para el cuerpo */
        body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2;
            margin: 0;
            padding: 0;
            position: relative;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }

        /* Contenedor principal del formulario */
        .form-container {
            background-color: #fff;
            border-radius: 10px;
            padding: 20px;
            box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
            text-align: center;
            margin: 50px auto;
            max-width: 500px;
        }

        /* Estilos para los encabezados */
        h2 {
            font-size: 24px;
            margin-bottom: 10px;
            color: #333;
            
        }

        /* Estilos para la información del usuario */
        .user-info {
            font-size: 16px;
            margin-bottom: 20px;
            color: #555;
            text-align: left;
        }

        .user-info label {
            display: block;
            margin: 6px 0;
            font-weight: bold;
        }

        .user-info strong {
            font-weight: normal;
        }

        /* Estilos para la sección de selección */
        .selection-container {
            margin-bottom: 20px;
            
        }

        /* Estilos para el formulario y su grupo de opciones */
        .form-group {
            margin-bottom: 20px;
            
        }

        .form-label {
            display: block;
            margin-bottom: 6px;
            font-weight: bold;
            text-align: left;
            color: #000000;
        }
          .user-info label {
            display: block;
            margin: 6px 0;
            font-weight: bold;
            color: #000000;
        }

        /* Estilos para las opciones de radio */
        .radio-option {
            display: flex;
            align-items: center;
            justify-content: flex-start; /* Alineación horizontal */
            margin-bottom: 10px;
        }

        .radio-option label {
            margin-left: 10px;
            font-family: Arial, sans-serif; /* Aplica el mismo tipo de letra */
            color: #000000;
        }

        /* Estilos para el botón de selección */
        .radio-button {
            margin-right: 10px;
        }

        /* Estilos para el contenedor de botones */
        .button-container {
            display: flex;
            justify-content: center;
        }

        /* Estilos para el botón de enviar */
        .submit-button {
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 5px;
            padding: 12px 24px;
            font-size: 14px;
            cursor: pointer;
            transition: background-color 0.3s;
            text-transform: uppercase;
        }

        .submit-button:hover {
            background-color: #0056b3;
        }
    </style>

    <div class="form-container">
        {% if usuario.autorizado %}
        <h2>Autorización para un docente</h2>
        <div class="user-info">
            <label>Nombre: <strong>{{usuario.nombres}}</strong></label>
            <label>Apellidos: <strong>{{usuario.apellidos}}</strong></label>
            <label>Correo: <strong>{{usuario.correo}}</strong></label>
        </div>
        {% else %}
        <h2>Autorización para un estudiante</h2>
        <div class="user-info">
            <label>Nombre: <strong>{{usuario.nombres}}</strong></label>
            <label>Apellidos: <strong>{{usuario.apellidos}}</strong></label>
            <label>Correo: <strong>{{usuario.correo}}</strong></label>
        </div>
        {% endif %}
        <div class="selection-container">
            <form method="post">
                {% csrf_token %}
                <div class="form-group">
                    <label class="form-label">Opción de autorización:</label>
                    <div class="radio-option">
                        <input type="radio" id="autorizar" name="opcion" value="autorizar" required class="radio-button">
                        <label for="autorizar">Autorizar</label>
                    </div>
                    <div class="radio-option">
                        <input type="radio" id="rechazar" name="opcion" value="rechazar" required class="radio-button">
                        <label for="rechazar">Rechazar</label>
                    </div>
                </div>
                <div class="button-container">
                    <button class="submit-button" type="submit">Enviar</button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
