{% extends 'master.html' %}

{% block contenido %}
<style>
    .contenedor-formulario {
        max-width: 400px;
        margin: 100px auto; /* Centrar horizontalmente */
        padding: 20px;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        text-align: center;
    }

    /* Estilos para pantallas más pequeñas (como dispositivos móviles) */
    @media screen and (max-width: 480px) {
        .contenedor-formulario {
            margin: 30px auto; /* Ajusta el margen para dispositivos móviles */
            padding: 10px; /* Ajusta el padding para dispositivos móviles */
        }
        .input-label {
            text-align: center; /* Centrar las etiquetas en dispositivos móviles */
        }
        .eye-icon {
            top: 45px; /* Ajusta la posición del ícono del ojo en dispositivos móviles */
        }
    }
    .login-header {
        font-size: 28px;
        color: #00000;
        margin-bottom: 15px;
		text-transform: capitalize; /* Convertir a minúsculas */
    }
    .input-group {
        margin-bottom: 20px;
    }
    .input-label {
        display: block;
        font-size: 16px;
        color: #333;
        margin-bottom: 8px;
        text-align: left;
    }
    .input-field {
        position: relative;
    }
    .styled-input {
        width: 100%;
        padding: 10px 35px 10px 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
        transition: border-color 0.3s ease-in-out;
    }
    .styled-input:focus {
        border-color: #3498db;
        outline: none;
        box-shadow: 0 0 4px rgba(52, 152, 219, 0.5);
    }
    .password-olvidada {
        margin-top: 10px;
    }
    .password-olvidada a {
        color: #3498db;
        text-decoration: none;
        font-size: 14px;
        display: block;
		padding: 15px 20px;
    }
    .input-group:last-child {
        margin-bottom: 0;
    }
    .input input[type="submit"] {
		background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 8px 15px;
        font-size: 14px;
        cursor: pointer;
        transition: background-color 0.3s;
        text-transform: capitalize;
    }
    .input input[type="submit"]:hover {
        background-color: #0056b3;
    }
    .messages {
        list-style: none;
        padding: 0;
        margin: 0;
    }
    
    .messages li {
        padding: 10px;
        margin-bottom: 10px;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
    }
    
    .success {
        background-color: #d4edda;
        color: #155724;
        border: 1px solid #c3e6cb;
    }
    
    .info {
        background-color: #d1ecf1;
        color: #0c5460;
        border: 1px solid #bee5eb;
    }
    
    .warning {
        background-color: #fff3cd;
        color: #856404;
        border: 1px solid #ffeeba;
    }
    
    .error {
        background-color: #f8d7da;
        color: #721c24;
        border: 1px solid #f5c6cb;
    }    
    .eye-icon {
        position: absolute;
        top: 55px;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
        color: #ccc;
    }
</style>

<div class="contenedor-formulario">
    <form method="POST">
        {% csrf_token %}
        <h2 class="login-header">Bienvenido</h2>
        <div class="input-group">
            <div class="input-field">
                <label class="input-label" for="{{ formulario.username.id_for_label }}"><i class="fas fa-user"></i> Usuario</label>
                <input type="username" name="{{ formulario.username.name }}" id="{{ formulario.username.id_for_label }}" class="styled-input">
            </div>
        </div>
        <div class="input-group">
            <div class="input-field">
                <label class="input-label" for="{{ formulario.password.id_for_label }}"><i class="fas fa-lock"></i> Contraseña</label>
                <input type="password" name="{{ formulario.password.name }}" id="{{ formulario.password.id_for_label }}" class="styled-input" id="password">
                <i class="far fa-eye eye-icon" id="eye-icon"></i>
            </div>
        </div>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        <div class="password-olvidada">
            <a href="{% url 'recuperar_contraseña' %}" class="forgot-password">¿Olvidaste tu contraseña?</a>
        </div>
        <div class="input">
            <input type="submit" value="Ingresar">
        </div>
    </form>
</div>

<script>
    const passwordField = document.getElementById('password');
    const eyeIcon = document.getElementById('eye-icon');

    eyeIcon.addEventListener('click', () => {
        if (passwordField.type === 'password') {
            passwordField.type = 'text';
            eyeIcon.classList.remove('far', 'fa-eye');
            eyeIcon.classList.add('fas', 'fa-eye-slash');
        } else {
            passwordField.type = 'password';
            eyeIcon.classList.remove('fas', 'fa-eye-slash');
            eyeIcon.classList.add('far', 'fa-eye');
        }
    });
</script>

{% endblock %}