{% extends 'master.html' %}
{% load i18n %}

{% block contenido %}
  {% block head %}
    {{ wizard.form.media }}
  {% endblock %}

  <style>
    .form-container {
      width: 400px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      margin-bottom: 300px; /* Agregar margen inferior */
      margin: -25px auto; /* Centrar horizontalmente */
    }

    .form-title {
      font-size: 28px;
      color: #00000;
      margin-bottom: 15px;
		  text-transform: capitalize; /* Convertir a minúsculas */  
    }

    .step-indicator {
      font-size: 18px;
      margin-bottom: 5px;
      color: #555;
    }

    .input-field {
      margin-bottom: 5px;
    }

    .input-label {
      display: block;
      margin-bottom: 8px;
      color: #555;
      font-size: 16px;
      margin-bottom: 5px;
    }

    .styled-input {
      width: 100%;
      padding: 10px 35px 10px 10px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 14px;
      transition: border-color 0.3s ease-in-out;
      margin-bottom: 5px;
    }

    .styled-input:focus {
      border-color: #3498db;
      outline: none;
      box-shadow: 0 0 4px rgba(52, 152, 219, 0.5);
    }

    .error-message {
      color: red;
      font-weight: bold;
      font-size: 14px;
      display: block; /* Asegura que los mensajes de error ocupen un espacio en el diseño */
      margin-top: 5px; /* Espacio superior para separar del campo anterior */
    }
    .btn {
      display: block;
      width: 100%;
      padding: 10px;
      border: none;
      border-radius: 4px;
      font-size: 16px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .btn-primary {
      background-color: #007bff;
      color: #fff;
      margin-top: 30px; /* Agregar margen superior */
      text-transform: capitalize;
    }

    .btn-primary:hover {
      background-color: #0056b3;
    }

    .btn-secondary {
      background-color: #ccc;
      color: #333;
    }

    .btn-secondary:hover {
      background-color: #bbb;
      
    }

    .input-group:last-child {
      margin-bottom: 0;
    }

    .input input[type="submit"] {
      background-color: #007bff;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 8px 15px;
      font-size: 14px;
      cursor: pointer;
      transition: background-color 0.3s;
      text-transform: capitalize;
    }

    .input input[type="submit"]:hover {
      background-color: #0056b3;
    }
    @media (max-width: 768px) {
      .form-container {
          width: 100%;
          padding: 15px;
          margin-bottom: 50px;
      }

      /* Ajustes para los otros elementos en dispositivos móviles */
      .form-title {
          font-size: 24px; /* Reducir el tamaño del título en dispositivos móviles */
      }

      .step-indicator {
          font-size: 16px;
          margin-bottom: 5px;
      }

      .input-label {
          font-size: 14px;
      }

      .styled-input {
          padding: 8px;
      }

      .error-message {
          font-size: 12px;
      }
    }
  </style>
  <p>Paso {{ wizard.steps.step1 }} de {{ wizard.steps.count }}</p>
  <form method="POST" class="form-container">
    {% csrf_token %}
    <div class="form-content">
      {{ wizard.management_form }}
      {% if wizard.form.forms %}
        <p class="step-indicator">Paso {{ wizard.steps.step1 }} de {{ wizard.steps.count }}</p>
        {{ wizard.form.management_form }}
        {% for form in wizard.form.forms %}
          <div class="form-group">
            {{ form.as_table }}
          </div>
        {% endfor %}
      {% else %}
        {% if wizard.steps.index == 0 %}
          <h2 class="form-title">Crear una cuenta</h2>
          {% csrf_token %}
          <div class="alert alert-error"></div>
          <div class="input-field">
            <label class="input-label" for="{{ wizard.form.first_name.id_for_label }}"><i class="fas fa-user"></i> Nombre</label>
            <input type="text" name="{{ wizard.form.first_name.name }}" id="{{ wizard.form.first_name.id_for_label }}" class="styled-input" required>
            {{ wizard.form.first_name.errors }}
          </div>
          <div class="input-field">
            <label class="input-label" for="{{ wizard.form.last_name.id_for_label }}"><i class="fas fa-user"></i> Apellido</label>
            <input type="text" name="{{ wizard.form.last_name.name }}" id="{{ wizard.form.last_name.id_for_label }}" class="styled-input" required>
            {{ wizard.form.last_name.errors }}
          </div>
          <div class="input-field">
            <label class="input-label" for="{{ wizard.form.username.id_for_label }}"><i class="fas fa-user"></i> Usuario</label>
            <input type="text" name="{{ wizard.form.username.name }}" id="{{ wizard.form.username.id_for_label }}" class="styled-input" required>
            {% if wizard.form.username.errors %}
              <span class="error-message">{{ wizard.form.username.errors }}</span>
            {% endif %}
          </div>
          <div class="input-field">
            <label class="input-label" for="{{ wizard.form.email.id_for_label }}"><i class="fas fa-envelope"></i> Email</label>
            <input type="email" name="{{ wizard.form.email.name }}" id="{{ wizard.form.email.id_for_label }}" class="styled-input" required>
            {% if wizard.form.email.errors %}
              <span class="error-message">{{ wizard.form.email.errors }}</span>
            {% endif %}
          </div>
          <div class="input-field">
            <label class="input-label" for="{{ wizard.form.password.id_for_label }}"><i class="fas fa-lock"></i> Contraseña</label>
            <input type="password" name="{{ wizard.form.password.name }}" id="{{ wizard.form.password.id_for_label }}" class="styled-input" required>
            {% if wizard.form.password.errors %}
              <span class="error-message">{{ wizard.form.password.errors }}</span>
            {% endif %}
            {{ wizard.form.password.help_text }}
          </div>
          <input type="submit" class="btn btn-primary btn-block" value="{% translate "Continuar" %}">
        {% else %}
          <p>else</p>
          <div class="form-group">
            {{ wizard.form }}
          </div>
        {% endif %}
      {% endif %}

      {% if wizard.steps.prev %}
        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}" class="btn btn-secondary">{% translate "first step" %}</button>
        <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" class="btn btn-secondary">{% translate "prev step" %}</button>
      {% endif %}
    </div>
  </form>
{% endblock %}
