/* Estilos para el footer */

.footer {
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    margin-top: auto; /* Mantiene el footer en la parte inferior */
    position: fixed;
    bottom: 0;
    width: 100%;
}

.social-icons {
    margin: 10px 0; /* Espacio entre los iconos */
    text-align: center;
}

.social-icons a {
    display: inline-block;
    margin: 0 10px;
    color: white;
    font-size: 24px;
}

.social-icons a:hover {
    color: #007bff;
}
