{% extends 'master.html' %}
{% load static %}
{% block contenido %}<!--aqui-->
    <style>
      
        .container {
            max-width: 600px;
            margin: 0 auto;
            padding: 20px;
        }

        .titulo {
            font-size: 24px;
            margin-bottom: 20px;
            color: #000; /* Color negro */
            font-family: 'Montserrat', sans-serif; /* Tipo de letra Montserrat */
            text-transform: capitalize; /* Convertir a minúsculas */
        }

        .formulario {
            background-color: #fff;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }

        /* Estilo para el botón */
        .btn-primary {
            background-color: #007bff;
            color: #fff;
            border: none;
            border-radius: 3px;
            font-size: 16px;
            cursor: pointer;
            text-transform: capitalize; /* Convertir a minúsculas */
        }
        .cancelar {
            background-color: #007bff;
            color: #fff;
            border: none;
            padding: 10px 20px;
            border-radius: 3px;
            font-size: 16px;
            cursor: pointer;
            margin-right: 10px; /* Agregado para separar los botones */
            text-decoration: none; /* Quitar el subrayado */
            text-transform: capitalize; /* Convertir a minúsculas */
          }
          
          .cancelar:hover {
            background-color: #0056b3;
          }

        .btn-primary:hover {
            background-color: #0056b3;
        }

        /* Estilo para el label de descripción y correo electrónico */
        label {
            font-weight: bold;
            margin-bottom: 5px;
            color: #333;
        }

        /* Estilo para los campos de descripción y correo electrónico */
        input[type="text"],
        input[type="email"] {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
            font-size: 14px;
            box-sizing: border-box;
        }
        
        /* Estilo para la barra de escribir de descripción y correo electrónico */
        textarea {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 3px;
            font-size: 14px;
            box-sizing: border-box;
        }
    </style>
   
    <div class="container">
        <h4 class="titulo">Envío Docente</h4>
        <form method="POST" class="formulario">
            {% csrf_token %}
            <div class="form-group">
                <label for="{{ formulario_gestion.titulo.id_for_label }}">Título</label>
                {{ formulario_gestion.titulo }}
            </div>
            <div class="form-group">
                <label for="{{ formulario_gestion.comentario.id_for_label }}">Descripción</label>
                <textarea name="{{ formulario_gestion.comentario.name }}" id="{{ formulario_gestion.comentario.id_for_label }}" rows="4">{{ formulario_gestion.comentario }}</textarea>
            </div>
            <div class="form-group">
                <label for="{{ formulario_gestion.email.id_for_label }}">Correo Electrónico</label>
                {{ formulario_gestion.email }}
            </div>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            <button class="btn btn-primary" type="submit">Enviar</button>
            <button class="btn btn-primary" type="submit" formnovalidate>Cancelar</button>
        </form>
    </div>
{% endblock %}<!--aqui-->
